@model AmazonTaxClaim.Models.ReclImpAmazon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ReclImpAmazon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CTE_NUMERO_EPS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTE_NUMERO_EPS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARCHIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARCHIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERIODO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERIODO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CLAIM_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
