@model IEnumerable<AmazonTaxClaim.Models.ReclImpAmazon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CTE_NUMERO_EPS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ARCHIVO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERIODO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CTE_NUMERO_EPS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARCHIVO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERIODO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CLAIM_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CLAIM_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CLAIM_ID })
        </td>
    </tr>
}

</table>
